body {
    text-align: center;
}

#Campuslife {
    font-family: Mate SC;
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

#Campuslife p {
    font-family: sans-serif;
    text-align: justify;
    font-size: 20px;
}

img {
    width: 1000px;
}

h1 {
    font-size: 40px;
    font-family: Satisfy;
    font-weight: 300;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}


#videos iframe {
    width: 80%;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
}

input {
    background: grey;
}

#marqueeStyle {
    color: cornflowerblue;
    font-size: 20px;
}

#Achievements iframe {
    width: 800px;
}

#details img {
    margin-left: 250px;
    margin-right: -300px;
}

row::after {
    content: "";
    clear: both;
    display: table;
}

.travel_mainDiv {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}

.travel_mainDiv img {
    width: 100%;
    height: 300px;
}

.travel_mainDiv hr {
    width: 100%;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}

#achievementsID {
    padding-bottom: :10px;
}

.movie_head {
    text-align: justify;
    font-size: 20px;
    padding: :6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 20px;
    width: 95%;
    display: inline-block;
}

.movie_head i {
    float: right;
    margin-right: 20px;
}

.movie_text span {
    color: #ff7700;
    margin: 10px;
}

#myCarousel img {
    height: 600px;
    margin-top: 35px;
    image-orientation: cover;

}

#WhatsNew h4 {
    text-align: justify;
    font-size: 20px;
    color: brown;
}

#WhatsNew p {
    text-align: justify;
}

.list-group-item {
    padding: 25px;
    margin-bottom: 15px;
}

.list-group-item {
    background-color: antiquewhite;
}

#footer{
    height: 20px;
    background-color: white;
}
.modal-content
{
  margin-top: 100px;
}

.img_modal
  {
    display: inline-block;
  }
.p_modal
  {
      margin-top: 10px;
}
.modal-body
{
    text-align: center
}
.model-body img{
    width:300px;
    height:300px;
}
